language: python

branches:
  only:
  - master

env:
  global:
    - PACKER_VERSION="1.2.2"

before_install:
 - sudo apt-get update -y --fix-missing

install:
 # Install Packer.io
 - packer --version # show what is already installed
 - curl -o /tmp/packer.zip -L "https://releases.hashicorp.com/packer/${PACKER_VERSION}/packer_${PACKER_VERSION}_linux_amd64.zip"
 - sudo unzip -d /usr/local/packer-${PACKER_VERSION} /tmp/packer.zip
 - sudo ln -sf /usr/local/packer-${PACKER_VERSION}/packer /usr/local/bin/packer
 - packer --version
 - pip install awscli --upgrade

before_script:
 - ./create_aws_profile.sh

script:
  - ls -al ~/.aws/
  - ls -al
  - echo "building stackstorm-ami"
  - export AWS_PROFILE=packer
  - export AWS_DEFAULT_PROFILE=packer
  - env
  - aws s3 ls
  - aws s3 ls --profile packer
